@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,500&family=Open+Sans:wght@400;600&family=Poppins:wght@400;500;600;700;800&family=Roboto&family=Volkhov:wght@700&display=swap");
*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
  font-family: "Open Sans", "Poppins", "Roboto", "Volkhov", sans-serif, serif;
  
}
